
      <div class="powr-faq" id="shopify-section-faq-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "FAQ",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWR.io](https://www.powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit FAQ."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://www.powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "FAQ",
              "category": "POWR Plugins"
            }
          ]
        }
      {% endschema %}
      